<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObCFrameWorkExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>StaticEx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Swift123.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32F9FAEC1D8A47E100009283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32F9FAF41D8A47E200009283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32F9FB251D8A51DA00009283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3CE9311D58ADC7001E52A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3CE9451D58ADC8001E52A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3CE9501D58ADC8001E52A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
